{% extends 'src.html' %}
{% block links %}
    {% load static %}
    <link rel="stylesheet" href="{% static "shop/css/basket-products-styles.css" %}"/>
{% endblock %}
{% block content %}
    <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="/img/logo/closed-section.png" alt="" width="72" height=auto>
        <h1 class="display-5 fw-bold">Стоять, ковбой!</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Приносим свои извинения. В промежутке с 22:00 до 08:00 возможность оформления заказа
                отсутствует.
            </p>
        </div>
    </div>
{% endblock %}